@tailwind base;
@tailwind components;
@tailwind utilities;
html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 212 54% 38%;
    --primary-foreground: 210 40% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
